@model IEnumerable<Trash_Collection.Models.CustomerViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Customer Profile</h2>

@foreach (var item in Model)
{
    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermanentChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OneTimeChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceHold)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>*@


}